* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    overflow: hidden;
    cursor: move;
}

.carousel__container {
    display: flex;
    transition: transform 0.5s;
}

.carousel__item {
    flex: 0 0 100%;
    width: 100%;
    height: 500px;
    user-select: none;
}

.carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}

.carousel__button--left:hover,
.carousel__button--right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel__dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.carousel__dot {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__dot.carousel__dot--active {
    background-color: white;
}
